<h4>Options Calendar</h4> timeBegin: '06:00:00' (login => logout is required)
<input type="text" class="form-control" [(ngModel)]="fetchedCompanie.option.calendar.timeBegin" required minlength="1" placeholder="timeBegin"> timeEnd: '19:00:00' (login => logout is required)
<input type="text" class="form-control" [(ngModel)]="fetchedCompanie.option.calendar.timeEnd" required minlength="1" placeholder="timeEnd"> slotDuration: default: '00:30:00' (30 minutes) (login => logout is required)
<input type="text" class="form-control" [(ngModel)]="fetchedCompanie.option.calendar.slotDuration" placeholder="slotDuration">
<input type="text" class="form-control" [(ngModel)]="fetchedCompanie.option.calendar.timeBeginbusinessHours" placeholder="timeBeginbusinessHours">
<input type="text" class="form-control" [(ngModel)]="fetchedCompanie.option.calendar.timeEndbusinessHours" placeholder="timeEndbusinessHours">
