<div class="container" style="width: 100%">

  <app-header-title [title]="'Home'" [icon]="'home'" [showBack]=false></app-header-title>

  <div class="row">
    <div class="col-12 ac">
      <mat-button-toggle-group>
        <mat-button-toggle (click)="previousYear()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="center" disabled>
          {{year}}
        </mat-button-toggle>
        <mat-button-toggle (click)="nextYear()">
          <mat-icon>arrow_forward</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>


  <div class="row">
    <div *ngIf="lineChartDataGraph2[0].ready && lineChartDataGraph2[1].ready" class="col-md-6 col-12 marginTop">
      <mat-card class="ac h100">
        <!-- <div class="bigNumber">{{lineChartDataGraph2[0].data[month]| round | currency}}</div>
        {{'Quote this month'}}
        <br> -->
        <div class="bigNumber">{{lineChartDataGraph2[1].data[month]| round | currency}}</div>
        {{'Intervention with status Signed this month'}}
      </mat-card>
    </div>
    <div *ngIf="lineChartDataGraph1[0].ready && lineChartDataGraph1[1].ready" class="col-md-6 col-12 marginTop">
      <mat-card class="ac">
        <canvas baseChart style="height: 100%;" class="h50 bgw" [datasets]="lineChartDataGraph1" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="'line'"></canvas>
      </mat-card>
    </div>
    <div *ngIf="lineChartDataGraph2[0].ready && lineChartDataGraph2[1].ready" class="col-md-6 col-12 marginTop">
      <mat-card class="ac">
        <canvas baseChart style="height: 100%;" class="h50 bgw" [datasets]="lineChartDataGraph2" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="'bar'"></canvas>
      </mat-card>
    </div>
    <div *ngIf="
      donutChartDataGraph1.ready[0] &&
      donutChartDataGraph1.ready[1] &&
      donutChartDataGraph1.ready[2] &&
      donutChartDataGraph1.ready[3]
      " class="col-md-6 col-12 marginTop">
      <mat-card class="ac">
        <canvas baseChart style="height: 100%;" class="h50 bgw" [data]="donutChartDataGraph1.data" [labels]="donutChartDataGraph1.labels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="'doughnut'"></canvas>
      </mat-card>
    </div>
    <div *ngIf="lineChartDataGraph3[0].ready && lineChartDataGraph3[1].ready" class="col-md-6 col-12 marginTop">
      <mat-card class="ac">
        <canvas baseChart style="height: 100%;" class="h50 bgw" [datasets]="lineChartDataGraph3" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="'line'"></canvas>
      </mat-card>
    </div>
    <div *ngIf="lineChartDataGraph4[0].ready && lineChartDataGraph4[1].ready" class="col-md-6 col-12 marginTop">
      <mat-card class="ac">
        <canvas baseChart style="height: 100%;" class="h50 bgw" [datasets]="lineChartDataGraph4" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="'bar'"></canvas>
      </mat-card>
    </div>
  </div>

  <!-- <div class="col-12">
      <table class="table table-responsive table-condensed  bgw">
        <tr>
          <th></th>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartDataGraph1">
          <td>{{d.label}}</td>
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>

    </div> -->
</div>
