<mat-button-toggle-group *ngIf="!showSingleSelected" [(ngModel)]="fetchedQuote.statusQuote">
  <mat-button-toggle *ngFor="let n of statusQuotes" matTooltip="{{n.label}}" [value]="n.indexStatus" >
    <mat-icon color="{{n.color}}">{{n.icon | translate}}</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
<div *ngIf="showSingleSelected">
  <button mat-icon-button *ngFor="let n of statusQuotesSingleSelected" color="{{n.color}}" matTooltip="{{n.label}}" >
    <mat-icon >{{n.icon | translate}}</mat-icon>
  </button>
</div>
