
<mat-card class="ac">

  <!-- <b *ngIf="currency === '$'">$</b> -->
  <b>{{fetchedQuote.priceQuote.priceGlobalWithDiscountWithSurfaceWithPainfulness | round | currency}}</b>
  <!-- <b *ngIf="currency === '€'">€</b> -->
</mat-card>

<mat-tab-group>
  <mat-tab label="Catalogue">
    <app-products [showTitle]=false [showNewItem]=false [customButton]=true (customButtonActionEmit)="addProductToQuote($event)"></app-products>
  </mat-tab>
  <mat-tab label="Add">
    <app-add-text-row (addTextToQuote)="addTextToQuote($event)"></app-add-text-row>
  </mat-tab>
</mat-tab-group>
