<mat-card>
  <mat-form-field>
    <textarea matInput type="text" [(ngModel)]="fetchedCompanie.quoteSettings.legalNotice" required minlength="5" placeholder="{{'Legal Notice' | translate}}">
    </textarea>
  </mat-form-field>
</mat-card>
<br>
<mat-card>
  <app-picture [showPagination]=false [forms]="fetchedCompanie.forms"></app-picture>
</mat-card>
<br>
<mat-card>
  <app-quote-vat (save)="save()" [fetchedCompanie]="fetchedCompanie"></app-quote-vat>
</mat-card>
<br>
<mat-card>
  <app-quote-legal-approval (save)="save()" [fetchedCompanie]="fetchedCompanie"></app-quote-legal-approval>
</mat-card>
