<div *ngIf="isLoggedIn">

  <!-- <md-sidenav #sidenav mode="side" opened="true"> -->


  <mat-accordion>
    <mat-expansion-panel
      (click)="menuClick()"
      class="noOutline"
      hideToggle="true" [routerLink]="['/home']" routerLinkActive="active">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>home</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'Home'|translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel
      class="noOutline"
      *ngIf="authService.showObjHTML('user', 'read')"
      (click)="menuClick()"
      [routerLink]="['/user/list/true']" routerLinkActive="active"
      hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>supervisor_account</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'Customers'|translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel
      (click)="menuClick()"
      class="noOutline"
      *ngIf="authService.showObjHTML('userCalendar', 'read')"
      [routerLink]="['/userCalendar']" routerLinkActive="active"
      hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>event_available</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'Planning' | translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel
      (click)="menuClick()"
      class="noOutline"
      *ngIf="authService.showObjHTML('userCalendar', 'read')"
      [routerLink]="['/quote/list/quote']" routerLinkActive="active"
      hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>build</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'Interventions'|translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel
      (click)="menuClick()"
      class="noOutline"
      *ngIf="authService.showObjHTML('paiementQuote', 'read')"
      [routerLink]="['/paiementQuote/list']" routerLinkActive="active"
      hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>credit_card</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'Paiements'|translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel
      (click)="menuClick()"
      class="noOutline"
      *ngIf="authService.showObjHTML('paiementQuote', 'read')"
      [routerLink]="['/product']" routerLinkActive="active"
      hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>dvr</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'Products'|translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>settings</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'Options'|translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
        <a class="nav-link"
          (click)="menuClick()"
          [routerLink]="['/companie/mine']"
          routerLinkActive="active">{{'Settings'|translate}}</a>
        <a *ngIf="authService.showObjHTML('user', 'read')"
          (click)="menuClick()"
          class="nav-link" [routerLink]="['/user/list/false']" routerLinkActive="active">{{'Team'|translate}}</a>
        <a class="nav-link"
          (click)="menuClick()"
          [routerLink]="['/user/' + fetchedUser._id]" routerLinkActive="active">{{'My profile'|translate}}</a>
        <a class="nav-link"
          (click)="menuClick()"
          (click)="logout()">{{'Logout'|translate}}</a>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<!-- </md-sidenav> -->
