<div class="upld-mod">
  <table class="table table-hover table-responsive table-condensed">
    <tbody class="upld-modbdy">
      <tr *ngFor="let form of fetchedForms" class="imgrw">
        <td>
          <div class="imgrw-cnt">
            <img *ngIf="form.type === 'pdf'" (click)="onSelectRow(form)" src="./assets/images/pdf_icon.png">
            <img *ngIf="form.type !== 'pdf'" (click)="onSelectRow(form)" src="./uploads/forms/{{form.owner}}/{{form.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
            <p *ngIf="form.type === 'pdf'" class="pdf-ttl">{{form.title}}</p>
            <button *ngIf="deletePicture" class="dlt-btn" (click)="onDelete(form._id)">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="showPagination" class="has-text-centered">
     <mat-paginator *ngIf="paginationData.totalItems>paginationData.itemsPerPage"
      [length]="paginationData.totalItems"
      [pageSize]="paginationData.itemsPerPage"
      (page)="getPage($event.pageIndex*1+1)">
    </mat-paginator>
<!--     -->
    <!-- <div [hidden]="!loading">Loading...</div>
    <pagination-controls (pageChange)="getPage($event)" id="server" class="change-page"></pagination-controls> -->
  </div>
</div>
