<div *ngIf="authService.showObjHTML('quote', 'template')">
  <ul *ngIf="!fetchedQuote.drawingSignature.isSigned" class="nav nav-tabs justify-content-end">
    <li class="nav-item dropdown">
      <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{'Template' | translate}}</a>
      <div class="dropdown-menu">
        <app-autocomplete [typeAutocomplete]="'templateQuote'" [title]="'Load bucket'" [singleChoice]=true [arrayContent]="arrayContentToSearch" (getResultAutocomplete)="selectTemplateQuote($event[0])">
        </app-autocomplete>
        {{'Save Template' | translate}}
        <div>
          <input [readonly]="fetchedQuote.drawingSignature.isSigned" type="text" class="form-control" placeholder="nameTemplate" #nameTemplate>
        </div>
        <div>
          <button type="button" class="btn btn-success" (click)="saveTemplateQuote(nameTemplate.value);nameTemplate.value=''"><i class="fa fa-floppy-o"></i></button>
        </div>
      </div>
    </li>
  </ul>
</div>

<div *ngFor="let devisDetail of fetchedQuote.devisDetails; let i=index">
  <div *ngIf="false" class="row">
    <input [readonly]="fetchedQuote.drawingSignature.isSigned" class=" col-2" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedQuote.devisDetails[i].nameBucketProducts" placeholder="Category">
    <button *ngIf="!fetchedQuote.drawingSignature.isSigned" type="button" class="btn btn-danger btn-sm" (click)="removeBucketProducts(i)"><i class="fa fa-times"></i></button>
  </div>
</div>
<div class="showMobile">
  <app-mobile-details [fetchedQuote]="fetchedQuote" (calculateQuoteEmit)="calculateQuote()"></app-mobile-details>
</div>
<div class="hideMobile">
  <app-desktop-details [fetchedQuote]="fetchedQuote" (calculateQuoteEmit)="calculateQuote()"></app-desktop-details>
</div>

<div class="row">
  <div class="col-8">
  </div>
  <div class="col-4">
    <app-total [fetchedQuote]="fetchedQuote" (calculateQuoteEmit)="calculateQuote()"></app-total>
  </div>
</div>
