<div class="hideMobile" *ngIf="authService.showObjHTML('quote', 'template')">
  <app-template-quote [fetchedQuote]="fetchedQuote"></app-template-quote>
</div>
<div *ngFor="let devisDetail of fetchedQuote.devisDetails; let i=index">
  <div *ngIf="false" class="row">
    <input [readonly]="fetchedQuote.drawingSignature.isSigned" class=" col-2" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedQuote.devisDetails[i].nameBucketProducts" placeholder="Category">
    <button *ngIf="!fetchedQuote.drawingSignature.isSigned" type="button" class="btn btn-danger btn-sm" (click)="removeBucketProducts(i)"><i class="fa fa-times"></i></button>
  </div>
</div>
<div class="showMobile">
  <app-mobile-details [fetchedQuote]="fetchedQuote" (calculateQuoteEmit)="calculateQuote()"></app-mobile-details>
</div>
<div class="hideMobile">
  <app-desktop-details [fetchedQuote]="fetchedQuote" (calculateQuoteEmit)="calculateQuote()"></app-desktop-details>
</div>

<div class="row">
  <div class="col-8">
  </div>
  <div class="col-4">
    <app-total [fetchedQuote]="fetchedQuote" (calculateQuoteEmit)="calculateQuote()"></app-total>
  </div>
</div>
