<div *ngIf="displayIfContentIsNull || arrayContent.length">
  <!-- {{title | translate}} -->
  <div *ngIf="!arrayContent.length || !singleChoice">
    <div class="input-group mb8">
      <mat-form-field>
        <input matInput type="text" autocomplete="off" name="Search" placeholder="🔎 {{ title | translate}}" [(ngModel)]="autocompleteSearch" (ngModelChange)="searchData()">
          <app-newObjDialog (cliked)="newObjDialogClicked()" matSuffix *ngIf="canCreateNewObj && (typeAutocomplete=='user' || typeAutocomplete=='companie' || typeAutocomplete=='project' || typeAutocomplete=='product')" (saved)="saved($event)" [search]="search" [typeObj]="typeAutocomplete"></app-newObjDialog>
      </mat-form-field>
    </div>
  </div>
  <div class="form-control" *ngFor="let data of fetchedData; let i=index">
    <table>
      <tr>
        <td class="tdbtn1">
          <div *ngIf="typeAutocomplete=='user'">{{data.profile.name}} {{data.profile.lastName}}</div>
          <div *ngIf="typeAutocomplete=='companie'">{{data.nameCompanie}}</div>
          <div *ngIf="typeAutocomplete=='quote'">{{data.name}}</div>
          <div *ngIf="typeAutocomplete=='project'">{{data.details.name}}</div>
          <div *ngIf="typeAutocomplete=='product'">{{data.details.referenceName}}</div>
          <div *ngIf="typeAutocomplete=='right'">{{data.detailRight.nameRight}}</div>
          <div *ngIf="typeAutocomplete=='templateQuote'">{{data.nameTemplate}}</div>
        </td>
        <td class="tdbtn2">

          <button mat-button color="primary" (click)="selectData(data)">
            <mat-icon>done</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="fetchedData.length == 0 && autocompleteSearch !=''">
    {{'No results.' | translate}}
    <!-- <app-newObjDialog *ngIf="typeAutocomplete=='user' || typeAutocomplete=='companie' || typeAutocomplete=='project'" class="btn btn-success" [search]="search" [icone]="'fa fa-plus'" [title]="'Add new one'" [typeObj]="typeAutocomplete"></app-newObjDialog> -->
  </div>
  <div *ngFor="let data of arrayContent; let i=index">
    <div class="row">
      <div class="col-12">
        <!-- <div *ngIf="typeAutocomplete=='user'"> -->
          <mat-form-field>
            <input *ngIf="typeAutocomplete=='user'" readonly placeholder="{{title}}" matInput type="text" value="{{data.profile.name}} {{data.profile.lastName}}">
            <input *ngIf="typeAutocomplete=='companie'" readonly placeholder="{{title}}" matInput type="text" value="{{data.nameCompanie}}">
            <input *ngIf="typeAutocomplete=='quote'" readonly placeholder="{{title}}" matInput type="text" value="{{data.name}}">
            <input *ngIf="typeAutocomplete=='project'" readonly placeholder="{{title}}" matInput type="text" value="{{data.details.name}}">
            <input *ngIf="typeAutocomplete=='product'" readonly placeholder="{{title}}" matInput type="text" value="{{data.details.referenceName}}">
            <input *ngIf="typeAutocomplete=='right'" readonly placeholder="{{title}}" matInput type="text" value="{{data.detailRight.nameRight}}">

            <button matSuffix mat-icon-button *ngIf="enableLink" (click)="linkToObject(data)">
              <mat-icon aria-label="Link">link</mat-icon>
            </button>
            <button matSuffix mat-icon-button *ngIf="canDelete" (click)="removeData(i)">
              <mat-icon aria-label="delete">delete</mat-icon>
            </button>

          </mat-form-field>
        <!-- </div> -->


      </div>
      <!-- <div class="col-4">
        <div class="row pull-right">
          <div *ngIf="enableLink" class="col-6">
            <button class="btn btn-ok btn-sm ferme alright" (click)="linkToObject(data)" type="button"><i class="fa fa-link"></i></button>
          </div>
          <div *ngIf="canDelete" class="col-6">
            <button class="btn btn-danger btn-sm ferme alright" type="button" (click)="removeData(i)"><i class="fa fa-times"></i></button>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
