<div class="row justify-content-center">




<div class="col-md-4 col-xs-12">
  
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="register-form" novalidate>
    <h3 class="tac">Bienvenue sur Mirabelle!</h3>

    <!-- <div >
      <input #nameCompanie type="text" formControlName="nameCompanie" placeholder="nameCompanie">
    </div> -->

    <mat-form-field>
      <input matInput #userEmail formControlName="email" placeholder="Email">
    </mat-form-field>
    <!-- <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Please enter a valid email format</div> -->
    <!-- <span class="help-block"></span> -->
    <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="Mot de Passe">
    </mat-form-field>
    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
      Password must contain 6 or more characters</div>
    <br>
    <div formGroupName="profile">
      <mat-form-field>
      <input matInput #name type="text" formControlName="name" placeholder="Prénom">
    </mat-form-field>
      <mat-form-field>
      <input matInput #lastName type="text" formControlName="lastName" placeholder="Nom">
    </mat-form-field>
    </div>
    <button mat-raised-button type="submit" [disabled]="!myForm.valid">Ok</button>
    <!-- <button [ngClass]="{'done':myForm.valid,'pas-done':!myForm.valid}" type="submit" [disabled]="!myForm.valid">Register</button> -->
    <!-- <p class="message"><a [routerLink]="'/user/login'">Back to Login screen</a></p> -->
  </form>
  
  
</div>
</div> 



<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
