<div class="row justify-content-center">

  <div class="col-md-4 col-xs-12">

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="register-form" novalidate>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>
            <h3 class="tac">Bienvenue sur Mirabelle!</h3></mat-card-title>
          <mat-card-subtitle>Vos devis chez vos clients !</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/images/logo-mirabelle-400.png" alt="Bienvenue sur Mirabelle">
        <mat-card-content>




          <mat-form-field>
            <input matInput #userEmail formControlName="email" placeholder="Email">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" formControlName="password" placeholder="Mot de Passe">
          </mat-form-field>
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Password must contain 6 or more characters</div>
          <br>
          <div formGroupName="profile">
            <mat-form-field>
              <input matInput #name type="text" formControlName="name" placeholder="Prénom">
            </mat-form-field>
            <mat-form-field>
              <input matInput #lastName type="text" formControlName="lastName" placeholder="Nom">
            </mat-form-field>
          </div>





        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button type="submit" [disabled]="!myForm.valid">Ok</button>
        </mat-card-actions>
      </mat-card>
    </form>

  </div>
</div>
