<div *ngIf="showNavBar">
  <nav class="docs-navbar-header">
    <div>
      <mat-icon *ngIf="showBackButton" class="burgerNav unselectable" (click)="goBack()">arrow_back</mat-icon>
      <div *ngIf="!showBackButton">
        <div class="hideMobile">
          <mat-icon *ngIf="showSideNavBar" class="burgerNav unselectable" (click)="toggleSideBar()">menu</mat-icon>
          <mat-icon *ngIf="!showSideNavBar" class="burgerNav unselectable" (click)="toggleSideBar()">clear_all</mat-icon>
        </div>
        <div class="showMobile">
          <mat-icon *ngIf="!showBackButton && showSideNavBar unselectable" class="burgerNav" (click)="toggleSideBar()">clear_all</mat-icon>
          <mat-icon *ngIf="!showBackButton && !showSideNavBar unselectable" class="burgerNav" (click)="toggleSideBar()">menu</mat-icon>
        </div>
      </div>
    </div>


    <div>

    </div>


    <!-- <i  class="fa fal fa-bars fa-2x burgerNav" aria-hidden="true"></i> -->
     <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
<!-- {{showBackButton}} -->
    <div *ngFor="let companie of fetchedUser.ownerCompanies">
      <a href="#">
        <div *ngFor="let form of companie.forms">
          <img class="logo-img" src="./uploads/forms/{{form.owner}}/{{form.imagePath}}" onerror="this.src ='assets/images/logo-mirabelle-400.png'">
        </div>
        <div *ngIf="!companie.forms.length">
          <img class="logo-img" src="./assets/images/logo-mirabelle-400.png">
        </div>
      </a>
    </div>
    <div class="flex-spacer"></div>

    <!-- <div class="navbar-collapse2"> -->
      <!-- <ul class="mr-auto"></ul> -->
      <!-- <div>
        <ul class="navbar-nav2 mr-auto" align="right">

        </ul>
      </div> -->
      <button (click)="newQuote()" mat-mini-fab color="primary">
        <mat-icon aria-label="New">build</mat-icon>
      </button>
      <!-- <button type="button" class="spcright btn btn-secondary" (click)="logout()">
          {{'Logout' | translate}}
        </button> -->

    <!-- </div> -->

  </nav>
</div>
<!-- </div> -->
