<div *ngIf="!fetchedQuote.drawingSignature.isSigned" class="valid-edit">
  <button *ngIf="isDialog" mat-raised-button color="accent" (click)="close()" class="btn valid">{{'Close' | translate}}</button>
  <button (click)="save()" mat-raised-button color="primary">{{'Save' | translate}}</button>
  <button *ngIf="fetchedQuote._id && showDeleteButton" mat-raised-button color="warn" (click)="openDialogDelete()">
    {{'Delete' | translate}}
  </button>
  <button mat-button color="primary" (click)="nextStepEmit()">></button>
</div>
