<div *ngIf="!fetchedQuote.drawingSignature.isSigned">
  <button *ngIf="isDialog" mat-raised-button color="accent" (click)="close()" class="btn valid">{{'Close' | translate}}</button>
  <!-- <button (click)="save()" mat-raised-button color="primary">{{'Save' | translate}}</button> -->
  <button *ngIf="fetchedQuote._id && showDeleteButton" mat-mini-fab color="warn" (click)="openDialogDelete()">
    <mat-icon aria-label="Next">delete</mat-icon>
  </button>

  <button *ngIf="showSaveButton" mat-mini-fab color="primary" (click)="nextStepEmit()">
    <mat-icon aria-label="Next">forward</mat-icon>
  </button>
  <button *ngIf="showSaveSignatureButton" mat-mini-fab color="primary" (click)="saveSignature()">
    <mat-icon aria-label="Next">forward</mat-icon>
  </button>



</div>
