<mat-tab-group>
  <mat-tab label="{{'Invoice' | translate}}">
    <button mat-raised-button color="primary" (click)="downloadInvoicePDF()">
      <mat-icon aria-label="PDF">picture_as_pdf</mat-icon>
    </button>
    {{'Download PDF' | translate}}
    <div *ngFor="let client of fetchedQuote.clients">
      <button mat-raised-button color="primary" (click)="sendInvoiceByEmailToClient()">
      <mat-icon aria-label="Email">email</mat-icon>
    </button> {{'Send document to client:' | translate}} {{client.email}}
    </div>
  </mat-tab>
  <mat-tab label="{{'Quote' | translate}}">
    <button mat-raised-button color="primary" (click)="downloadPDF()">
      <mat-icon aria-label="PDF">picture_as_pdf</mat-icon>
    </button>
    {{'Download PDF' | translate}}
    <div *ngFor="let client of fetchedQuote.clients">
      <button mat-raised-button color="primary" (click)="sendQuoteByEmailToClient()">
        <mat-icon aria-label="Email">email</mat-icon>
      </button>
      {{'Send document to client:' | translate}} {{client.email}}
    </div>
  </mat-tab>
</mat-tab-group>





<app-loadingInApp [loading]="loading"></app-loadingInApp>
