<mat-tab-group>
  <mat-tab label="{{'Invoice' | translate}}">
    {{'Download PDF' | translate}}

  <button mat-raised-button color="primary" (click)="downloadPDF()">
    <mat-icon aria-label="PDF">picture_as_pdf</mat-icon>
  </button>
  <div *ngFor="let client of fetchedQuote.clients">
    {{'Send document to client:' | translate}} {{client.email}}
    <button mat-raised-button color="primary" (click)="sendQuoteByEmailToClient()">
      <mat-icon aria-label="Email">email</mat-icon>
    </button>
  </div>
  </mat-tab>
  <mat-tab label="{{'Quote' | translate}}">
    {{'Download PDF' | translate}}

  <button mat-raised-button color="primary" (click)="downloadPDF()">
    <mat-icon aria-label="PDF">picture_as_pdf</mat-icon>
  </button>
  <div *ngFor="let client of fetchedQuote.clients">
    {{'Send document to client:' | translate}} {{client.email}}
    <button mat-raised-button color="primary" (click)="sendQuoteByEmailToClient()">
      <mat-icon aria-label="Email">email</mat-icon>
    </button>
  </div>
  </mat-tab>
</mat-tab-group>





<app-loadingInApp [loading]="loading"></app-loadingInApp>
