<div class="container">
  <!-- <div class="d-flex flex-row">
    <div class="p-2">
      <h4>
        {{'Payments' | translate}}
        <app-new-obj-dialog [search]="search" (saved)="saved($event)" [typeObj]="'paiementQuote'"></app-new-obj-dialog>
      </h4>

    </div>

  </div> -->
  <app-header-title [showBack]="showBack" [title]="'Payments'" (saved)="saved($event)" [search]="search" [typeObj]="'paiementQuote'"></app-header-title>



  <!-- <div class="d-flex flex-row">
    <div class="p-2">
      <input class="form-control margebasse col-md-12" type="text" name="Search" placeholder="Rechercher" [(ngModel)]="search.search" (ngModelChange)="searchPaiementQuotes()">
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="centre tdunder hideMobile">
              {{'Type' | translate}}
              <app-sort (orderBy)="orderBy($event)" [search]="search" [filedToOrder]="'type'"></app-sort>
            </th>
            <th class="centre tdunder hideMobile">
              {{'quote' | translate}}
            </th>
            <th class="centre tdunder">{{'Client'| translate}}</th>
            <!-- <th class="centre tdunder">
              <app-sort (orderBy)="orderBy($event)" [search]="search" [filedToOrder]="'isPaid'"></app-sort>
              {{'Is Paid'| translate}}
            </th> -->
            <th class="centre tdunder hideMobile">
              {{'Date' | translate}}
              <app-sort (orderBy)="orderBy($event)" [search]="search" [filedToOrder]="'datePaiement'"></app-sort>
            </th>
            <th class="centre tdunder">
              {{'Amount' | translate}}
              <app-sort (orderBy)="orderBy($event)" [search]="search" [filedToOrder]="'amount'"></app-sort>
            </th>
          </tr>
        </thead>

        <tbody class="clienttbl">
          <tr *ngFor="let paiementQuote of fetchedPaiementQuotes" [routerLink]="['/paiementQuote/edit/' + paiementQuote._id]" routerLinkActive="active">
            <td class="centre tdunder hideMobile">{{paiementQuote.type}}</td>
            <td class="centre tdunder">
              <div *ngFor="let client of paiementQuote.userDebiteds">
                <!-- <div *ngFor="let client of quote.clients"> -->
                  {{client.profile.name}} {{client.profile.lastName}}
                <!-- </div> -->
              </div>
            </td>
            <td class="centre tdunder hideMobile">
              <div *ngFor="let quote of paiementQuote.quotes">
                <!-- <div *ngFor="let client of quote.clients"> -->
                  {{quote.name}}
                <!-- </div> -->
              </div>
            </td>

            <td class="centre tdunder hideMobile">{{paiementQuote.datePaiement | date:'yyyy-MM-dd' }}</td>
            <td class="centre tdunder">{{paiementQuote.amount | round | currency}}</td>
          </tr>
        </tbody>
      </table>
      <div>
        <mat-paginator *ngIf="paginationData.totalItems>paginationData.itemsPerPage"  [length]="paginationData.totalItems" [pageSize]="paginationData.itemsPerPage" (page)="getPage($event.pageIndex*1+1)">
        </mat-paginator>

      </div>
    </div>
  </div>
</div>
