<div class="">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>date_range</mat-icon>
      </mat-panel-title>
      <mat-panel-description>
        {{'Meeting' | translate}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="myForm">
      <div class="row">
        <div class="col-12 col-md-6">
          <!-- {{'Start:' | translate}} -->
          <mat-icon>flight_takeoff</mat-icon>
          {{fetchedUserCalendar.start | date:'dd/MM/yyyy HH:mm'}}
        </div>
        <div class="col-12 col-md-6">
          <!-- {{'End:' | translate}}  -->
          <mat-icon>flight_land</mat-icon>
          {{fetchedUserCalendar.end | date:'dd/MM/yyyy HH:mm'}}
        </div>

        <div class="col-md-12">
          <app-autocomplete [typeAutocomplete]="'user'" (linkClicked)="linkClicked()" [title]="'Client'" [singleChoice]="'true'" [arrayContent]="fetchedUserCalendar.clients">
          </app-autocomplete>
        </div>
        <div class="col-md-12">
          <app-autocomplete [typeAutocomplete]="'user'" [search]="{isExternalUser:false}" [title]="'Réparateur'" [singleChoice]="'true'" [arrayContent]="fetchedUserCalendar.assignedTos" (getResultAutocomplete)="selectUser($event[0])" (clearAutocomplete)="removeUser()">
          </app-autocomplete>
        </div>
        <div class="col-md-12">
          <mat-form-field>
            <textarea matInput placeholder="{{'Details' | translate}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedUserCalendar.details.description" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">
              </textarea>
          </mat-form-field>
        </div>
      </div>
    </form>

    <div *ngFor="let client of fetchedUserCalendar.clients" class="ac">
      <app-new-obj-dialog (cliked)="newInterventionCLicked()" [icon]="'build'" [title]="'Create new Intervention'" [search]="{userId: client._id}" [typeObj]="'quote'"></app-new-obj-dialog>
    </div>
    <mat-action-row>
      <button *ngIf="fetchedUserCalendar._id" mat-mini-fab color="warn" (click)="openDialogDelete()">
        <mat-icon aria-label="Next">delete</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="save()">
        <mat-icon aria-label="Next">forward</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
