<div class="container-fluid">
  <div class="hdform">
    <!-- <h3 *ngIf="fetchedQuote.typeQuote === 'invoice'"><i class="fa fa10 fa-clipboard" aria-hidden="true"></i>{{'Invoice' | translate}}</h3> -->
    <h3 *ngIf="fetchedQuote.typeQuote === 'quote'">
      <mat-icon>build</mat-icon>
      {{'Intervention' | translate}}
    </h3>
  </div>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>build</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          <div>
            <app-quote-status [showSingleSelected]=true [fetchedQuote]="fetchedQuote"></app-quote-status>
            {{'Intervention' | translate}}
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-quoteInfo [search]="search" [fetchedQuote]="fetchedQuote" (quoteStatusChangedEmit)="save()"></app-quoteInfo>
      <mat-action-row *ngIf="fetchedQuote.statusQuote === 'pending'">
        <app-actionButtons (nextStep)="nextStep()" [isDialog]="isDialog" [fetchedQuote]="fetchedQuote" (closeDialog)="closeDialog()" (saved)="savedQuote($event)">
        </app-actionButtons>
      </mat-action-row>
    </mat-expansion-panel>



    <mat-expansion-panel *ngIf="
        fetchedQuote._id"
      [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>camera</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'Documents' | translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col-5">
          <app-picture
            [addPicture]="fetchedQuote.statusQuote === 'pending'"
            [showPagination]=false [showPictures]=false
            [openLibrairy]=true [labelButtonAddPicture]="'Add'"
            [forms]="fetchedQuote.forms"></app-picture>
        </div>
        <div class="col-5">
          <app-picture
            [addPicture]="fetchedQuote.statusQuote === 'pending'"
            [showPagination]=false [showPictures]=false
            [openLibrairy]=false [openCameraStraight]=true
            [labelButtonAddPicture]="'Add'"
            [forms]="fetchedQuote.forms"></app-picture>
        </div>
      </div>
      <app-picture
        [showPagination]=false
        [showPictures]=true
        [addPicture]=false
        [deletePicture]="fetchedQuote.statusQuote === 'pending'"
        [labelButtonAddPicture]="'Add'"
        [forms]="fetchedQuote.forms"></app-picture>
      <mat-action-row>
        <app-actionButtons (nextStep)="nextStep()" [showDeleteButton]=false [fetchedQuote]="fetchedQuote"></app-actionButtons>
      </mat-action-row>
    </mat-expansion-panel>


    <mat-expansion-panel *ngIf="
        fetchedQuote.statusQuote === 'pending' &&
        fetchedQuote._id"
      [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>border_color</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'Edit Quote' | translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{fetchedQuote.priceQuote.priceGlobalWithTaxesWithDiscountWithSurfaceWithPainfulness | round}}$
      <app-edit-quote [fetchedQuote]="fetchedQuote" (calculateQuote)="calculateQuote()"></app-edit-quote>
      <mat-action-row>
        <app-actionButtons (nextStep)="nextStep()" [isDialog]="isDialog" [fetchedQuote]="fetchedQuote" [showDeleteButton]=false (closeDialog)="closeDialog()" (saved)="savedQuote($event)">
        </app-actionButtons>
      </mat-action-row>
    </mat-expansion-panel>


    <mat-expansion-panel *ngIf="fetchedQuote._id" [expanded]="step === 3" (opened)="setStep(3)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>map</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'Quote' | translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-quoteDetails *ngIf="step === 3" [(fetchedQuote)]="fetchedQuote" (calculateQuoteEmit)="calculateQuote()" (quoteDetailsUpdated)="quoteDetailsUpdated($event)"></app-quoteDetails>
      <mat-action-row>
        <app-actionButtons (nextStep)="nextStep()" [isDialog]="isDialog" [fetchedQuote]="fetchedQuote" [showDeleteButton]=false [showDLQuoteButton]=true (closeDialog)="closeDialog()" (saved)="savedQuote($event)">
        </app-actionButtons>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel
      *ngIf="authService.showObjHTML('quote', 'signature') &&
      fetchedQuote.statusQuote === 'pending' &&
      fetchedQuote._id" [expanded]="step === 4" (opened)="setStep(4)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>touch_app</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'Signature' | translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-drawing-signature #DrawingSignature [drawing]="fetchedQuote.drawingSignature" (cleared)="clearedDrawing()" (updated)="drawingSignatureUpdated($event)">
      </app-drawing-signature>


      <img *ngIf="fetchedQuote.statusQuote !== 'pending'" [src]="fetchedQuote.drawingSignature.base64">
      <mat-action-row *ngIf="fetchedQuote.statusQuote === 'pending'">
        <button mat-mini-fab color="warn" (click)="DrawingSignature.clearDrawing()">
          <mat-icon aria-label="clear">clear</mat-icon>
        </button>
        <!-- <button mat-mini-fab color="accent" (click)="DrawingSignature.undoVersion()">
          <mat-icon aria-label="undo">undo</mat-icon>
        </button> -->

        <app-actionButtons [fetchedQuote]="fetchedQuote" [showSaveSignatureButton]=true [showSaveButton]=false [showDeleteButton]=false (nextStep)="buttonSaved($event)">
        </app-actionButtons>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="
          authService.showObjHTML('paiementQuote', 'read') &&
          fetchedQuote.statusQuote !=='pending' &&
          fetchedQuote.statusQuote !=='rejected' &&
          fetchedQuote._id" [expanded]="step === 5" (opened)="setStep(5)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>attach_money</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'Paiements' | translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-paiementQuotes (getPaiementQuotesCross)="getPaiementQuotes($event)" [search]="{userId: search.userId, isExpense:search.isExpense, quoteId:fetchedQuote._id}">
      </app-paiementQuotes>
      <mat-card>
        {{'Total Paiement' | translate}} = {{totalPaiementAmount}}
        <br> {{'To be paid' | translate}} = {{fetchedQuote.priceQuote.priceQuoteWithoutTaxes*1 - totalPaiementAmount*1| round}}
      </mat-card>
      <mat-action-row>
        <app-actionButtons [fetchedQuote]="fetchedQuote" [showDeleteButton]=false (nextStep)="nextStep()">
        </app-actionButtons>
      </mat-action-row>
    </mat-expansion-panel>


    <mat-expansion-panel *ngIf="
      fetchedQuote._id &&
      fetchedQuote.statusQuote !=='pending' &&
      fetchedQuote.statusQuote !=='rejected'"
    [expanded]="step === 6" (opened)="setStep(6)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>assignment_turned_in</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'Invoices' | translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-invoice-action [fetchedQuote]="fetchedQuote"></app-invoice-action>
    </mat-expansion-panel>



    <mat-expansion-panel *ngIf="authService.showObjHTML('quote', 'comment') && fetchedQuote._id" [expanded]="step === 7" (opened)="setStep(7)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>date_range</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'Comments' | translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- <mat-expansion-panel *ngIf="authService.showObjHTML('quote', 'drawing') && fetchedQuote._id" [expanded]="step === 3" (opened)="setStep(3)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Drawing' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>view_quilt</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-drawing [drawing]="fetchedQuote.drawing" (updated)="drawingUpdated($event)"></app-drawing>
        <mat-action-row>
          <app-actionButtons [fetchedQuote]="fetchedQuote" [showDeleteButton]=false (nextStep)="nextStep()">
          </app-actionButtons>
        </mat-action-row>
      </mat-expansion-panel> -->
</div>
