<mat-form-field>
  <input matInput [(ngModel)]="legalApprovalValueToAdd" placeholder="{{'legal Approval' | translate}}">
  <button matSuffix mat-raised-button color="primary" (click)="add()">{{'Add Legal Approval' | translate}}</button>
</mat-form-field>

<div *ngFor="let legalApproval of fetchedCompanie.legalApprovals; let i=index;">
  {{legalApproval}}
  <button mat-icon-button color="warn" (click)="remove(i)">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<app-loginInApp *ngIf="showLoginInApp" (loginInAppDone)="loginInAppDone()"></app-loginInApp>
