/*.phyto-sidenav {
  box-shadow: none !important;
  bottom: initial !important;
}*/
/*.example-scrolling-content {
  overflow: auto;
}*/
/*alan*/
.burger {
  position: absolute;
  z-index: 1;
}

.example-container {
  margin-top: 50px !important;
  height: 100%;
  background-color: #fafafa;
}
/*alan*/

app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
