/*.phyto-sidenav {
  box-shadow: none !important;
  bottom: initial !important;
}*/
.example-scrolling-content {
  overflow: auto;
}
/*alan*/
.burger {
  position: absolute;
  z-index: 1;
}

.example-container {
  margin-top: 50px !important;
  height: 95%;
  background-color: #fafafa;
}
/*alan*/
