
<app-navbar></app-navbar>

<mat-sidenav-container (backdropClick)="backdropClick()" #container class="example-container">

  <mat-sidenav #sidenav mode="{{modeSidenav}}" opened="false">
    <!-- <div *ngIf="sidenav.opened"> -->
      <app-sidebar></app-sidebar>
    <!-- </div> -->
  </mat-sidenav>

  <div class="example-scrolling-content">
    <!-- <div *ngIf="isLoggedIn" class="burger">
      <i *ngIf="!sidenav.opened" (click)="openSideBar()" class="fa fa-bars" aria-hidden="true"></i>
    </div> -->
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
<app-error></app-error>
<!-- <app-footer></app-footer> -->
<app-loadingInApp></app-loadingInApp>
