<div class="container">
  <div class="hdform">
    <h3 *ngIf="!fetchedPaiementQuote.isExpense">
      <mat-icon>credit_card</mat-icon>
      {{'Payment' | translate}}
    </h3>
    <!-- <h3 *ngIf="fetchedPaiementQuote.isExpense"><i class="fa fa10 fa-university" aria-hidden="true"></i> {{'Expense' | translate}}</h3> -->
  </div>


  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>attach_money</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'Paiement' | translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>


      <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
        <!-- <mat-form-field>
          <input matInput type="text" formControlName="title" [(ngModel)]="fetchedPaiementQuote.title" placeholder="{{'Title' | translate}}">
        </mat-form-field> -->
        <div class="row">
          <div class="col-12 col-md-6">
            <app-autocomplete class="mb8 bn" [canDelete]=false [typeAutocomplete]="'quote'" [search]="search" [canDelete]="true" [title]="'Invoice'" [singleChoice]="true" [arrayContent]="fetchedPaiementQuote.quotes" (getResultAutocomplete)="selectQuote($event[0])"
              (autocompleteAfterNgChanges)="autocompleteAfterNgChanges($event)">
            </app-autocomplete>
          </div>
          <div class="col-12 col-md-6">
            <app-autocomplete class="mb8 bn" [canDelete]=false [typeAutocomplete]="'user'" [search]="search" [canDelete]="true" [title]="'Customer'" [singleChoice]="true" [arrayContent]="fetchedPaiementQuote.userDebiteds" (getResultAutocomplete)="selectUserDebited($event[0])">
            </app-autocomplete>
          </div>
          <div class="col-12 col-md-6">
            <mat-form-field>
              <input matInput type="number" formControlName="amount" [(ngModel)]="fetchedPaiementQuote.amount" placeholder="Amount">
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="{{'Paiement Date'}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedPaiementQuote.datePaiement">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </form>

      <mat-action-row>
        <button *ngIf="fetchedPaiementQuote._id" mat-mini-fab color="warn" (click)="openDialogDelete()">
              <mat-icon aria-label="delete">delete</mat-icon>
            </button>

        <button mat-mini-fab color="primary" (click)="nextStep()">
              <mat-icon aria-label="Next">forward</mat-icon>
            </button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="fetchedPaiementQuote._id" [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>credit_card</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'Payment method' | translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- <mat-checkbox class="" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedPaiementQuote.isPaid">{{'Is Paid' | translate}}</mat-checkbox> -->
      <div *ngIf="fetchedPaiementQuote.isPaid">
        <!-- <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedPaiementQuote.type">
              <option *ngFor="let n of paiementsTypes" [value]="n.value">{{n.label}}</option>
          </select> -->

        <mat-radio-group [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedPaiementQuote.type">
          <mat-radio-button *ngFor="let n of paiementsTypes" [value]="n.value">{{n.label}}</mat-radio-button>
          <mat-radio-button *ngIf="accountConnectStripe.id" [value]="'stripe'">Stripe</mat-radio-button>
        </mat-radio-group>

        <div *ngIf="fetchedPaiementQuote.type=='stripe' && fetchedPaiementQuote._id">

          <mat-card *ngIf="fetchedPaiementQuote.stripe.charge.status !=='succeeded'">
            <app-paiement-card [newCard]="newCard"></app-paiement-card>
          </mat-card>

          <mat-card *ngIf="fetchedPaiementQuote.stripe.charge.status ==='succeeded'">
            <h4>Stripe</h4>
            <p>{{'created'| translate}}: {{fetchedPaiementQuote.stripe.charge.created * 1000 | date}}</p>
            <p>{{'balance_transaction'| translate}}: {{fetchedPaiementQuote.stripe.charge.balance_transaction}}</p>
            <p>{{'currency'| translate}}: {{fetchedPaiementQuote.stripe.charge.currency}}</p>
            <p>{{'amount'| translate}}: {{fetchedPaiementQuote.stripe.charge.amount / 100}}</p>
            <p>{{'exp_month'| translate}}: {{fetchedPaiementQuote.stripe.charge.source.exp_month}}</p>
            <p>{{'funding'| translate}}: {{fetchedPaiementQuote.stripe.charge.source.funding}}</p>
            <p>{{'last4'| translate}}: {{fetchedPaiementQuote.stripe.charge.source.last4}}</p>
          </mat-card>
        </div>
      </div>

      <mat-action-row>

        <button *ngIf="fetchedPaiementQuote.type!=='stripe'" mat-mini-fab color="primary" (click)="closeDialog()">
              <mat-icon aria-label="save">check_circle</mat-icon>
            </button>

        <button type="button" *ngIf="fetchedPaiementQuote.type==='stripe'" class="valid" (click)="payByCardConnect()">payByCardConnect</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>

</div>
