<div class="container nopad" style="width: 100%;">
  <div class="hdform">
    <h3>
      <mat-icon>event_available</mat-icon>
      {{'Calendar' | translate}}
    </h3>
  </div>
  <div class="row pad15">
    <div class="col-12">
      <app-userCalendarSearch (getUserCalendarBySearch)="getUserCalendarBySearch($event)"></app-userCalendarSearch>
    </div>

    <div class="col-12">
      <angular2-fullcalendar #myCal [options]="calendarOptions" (initialized)="onCalendarInit($event)">
      </angular2-fullcalendar>
    </div>
  </div>
</div>
