<form [formGroup]="myForm" novalidate (ngSubmit)="save()">
  <div class="row">

      <mat-form-field>
        <input matInput type="text" formControlName="email" [(ngModel)]="fetchedUser.email" placeholder="{{'Email' | translate}}">
      </mat-form-field>
      <!-- <div *ngIf="fetchedUser.isExternalUser">
        <mat-form-field>
          <mat-select placeholder="{{'Type Client' | translate}}" [(ngModel)]="fetchedUser.profile.typeClient" formControlName="typeClient">
            <mat-option [value]="" disabled selected>Type</mat-option>
            <mat-option *ngFor="let n of typeClientArray" [value]="n">{{n}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
      <!-- <div *ngIf="fetchedUser.isExternalUser">
        <mat-form-field *ngIf="fetchedUser.profile.typeClient ==='Administration'">
          <input matInput type="text" formControlName="accessType" [(ngModel)]="fetchedUser.profile.companyName" placeholder="Nom Administration">
        </mat-form-field>
        <mat-form-field *ngIf="fetchedUser.profile.typeClient ==='Societe'">
          <input matInput type="text" formControlName="accessType" [(ngModel)]="fetchedUser.profile.companyName" placeholder="Nom Societé">
        </mat-form-field>
      </div> -->


      <mat-form-field>
        <mat-select placeholder="{{'Title' | translate}}" [(ngModel)]="fetchedUser.profile.title" formControlName="title">
          <mat-option [value]="" disabled selected>{{'Title' | translate}}</mat-option>
          <mat-option *ngFor="let n of titleArray" [value]="n">{{ n | translate}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" formControlName="name" [(ngModel)]="fetchedUser.profile.name" placeholder="{{'Firstname' | translate}}">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" formControlName="lastName" [(ngModel)]="fetchedUser.profile.lastName" placeholder="{{'Lastname' | translate}}">
      </mat-form-field>



      <!-- <mat-form-field>
        <input matInput type="text" formControlName="phoneNumber" [(ngModel)]="fetchedUser.profile.phoneNumber" placeholder="{{'Phone Number' | translate}}">
      </mat-form-field> -->


      <!-- <div *ngIf="fetchedUser.isExternalUser">
            <select [ngClass]="{'has-error':!myForm.controls['statusHouse'].valid && !myForm.controls['statusHouse'].pristine}" [(ngModel)]="fetchedUser.profile.statusHouse" formControlName="statusHouse">
              <option value="" disabled selected>Statut</option>
              <option *ngFor="let n of statusHouseArray" [ngValue]="n">{{n}}</option>
            </select>
          </div> -->

      <!-- <div *ngIf="fetchedUser.isExternalUser">
            <app-autocomplete [title]="'Entreprise'" [singleChoice]="'true'" [typeAutocomplete]="'companie'" [arrayContent]="fetchedUser.ownerCompanies" (getResultAutocomplete)="selectCompanie($event[0])">
            </app-autocomplete>
          </div> -->

          <div *ngIf="isUserIsMyself()">
      <mat-form-field>
        <mat-select [(ngModel)]="fetchedUser.profile.language" name="language" formControlName="language">
          <mat-option *ngFor="let n of languageArray" [value]="n">{{n}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-hint>{{'Need to login/logout to apply changes' | translate}}</mat-hint>
    </div>


    <div *ngIf="authService.showObjHTML('userCalendar', 'read')">
      <div *ngIf="!fetchedUser.isExternalUser">
        <div>
          <label>{{'Calendar Color' | translate}}</label>
          <div class="round" [style.background-color]="fetchedUser.profile.colorCalendar"></div>
          <input type="color" formControlName="colorCalendar" [(ngModel)]="fetchedUser.profile.colorCalendar">
        </div>
      </div>
    </div>

      <!-- <div *ngIf="!fetchedUser.isExternalUser">
        <div *ngFor="let ownerCompanie of currentUser.ownerCompanies">
          <select [(ngModel)]="fetchedUser.typeUsers" name="language" formControlName="typeUsers">
                <option value="" disabled selected>Type</option>
                <option *ngFor="let typeUser of ownerCompanie.typeUsers" [value]="typeUser.value">{{typeUser.value}}</option>
              </select>
        </div>
      </div> -->



  </div>

</form>
