<div class="">
  <div class="hdform">
    <h3 *ngIf="fetchedUser.isExternalUser">
      <mat-icon>supervisor_account</mat-icon>
      {{'Customer' | translate}}
    </h3>
    <h3 *ngIf="!fetchedUser.isExternalUser">
      <div *ngIf="isUserIsMyself()">
        <mat-icon>account_circle</mat-icon>
        {{'My profile' | translate}}
      </div>
      <div *ngIf="!isUserIsMyself()">
        <mat-icon>supervisor_account</mat-icon>
        {{'Team' | translate}}
      </div>
    </h3>
  </div>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>face</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'User' | translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-detailsUser (save)="save()"[fetchedUser]="fetchedUser"></app-detailsUser>
      <mat-action-row>
        <div *ngIf="fetchedUser._id">
          <button *ngIf="!isUserIsMyself()" mat-mini-fab color="warn" (click)="openDialogDelete()">
            <mat-icon aria-label="Clear">clear</mat-icon>
          </button>
        </div>
        <button mat-mini-fab color="primary" (click)="saveAndNextStep()">
          <mat-icon aria-label="Next">forward</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="fetchedUser._id" [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>assignment_ind</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'Details' | translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-user-cross *ngIf="step === 1" [fetchedUser]="fetchedUser" (saved)=savedCrossUser($event)></app-user-cross>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="fetchedUser._id && fetchedUser.isExternalUser" [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>build</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'Interventions' | translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-quotes [search]="{userId: fetchedUser._id, typeQuote: 'quote'}"></app-quotes>
    </mat-expansion-panel>
  </mat-accordion>
</div>
