<div class="container-fluid">
  <div class="hdform">
    <h3 *ngIf="fetchedUser.isExternalUser"><i class="fa fa10 fa-user" aria-hidden="true"></i>{{'Customer' | translate}}</h3>
    <h3 *ngIf="!fetchedUser.isExternalUser"><i class="fa fa10 fa-user" aria-hidden="true"></i>{{'Team' | translate}}</h3>
  </div>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'User' | translate}} : {{fetchedUser.profile.lastName}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-detailsUser [fetchedUser]="fetchedUser"></app-detailsUser>
      <mat-action-row>
        <div *ngIf="fetchedUser._id">
          <button *ngIf="!isUserIsMyself()" mat-mini-fab color="warn" (click)="openDialogDelete()">
            <mat-icon aria-label="Clear">clear</mat-icon>
          </button>
        </div>
        <button mat-mini-fab color="primary" (click)="saveAndNextStep()">
          <mat-icon aria-label="Next">forward</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="fetchedUser._id" [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'Details' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-user-cross *ngIf="step === 1" [fetchedUser]="fetchedUser"></app-user-cross>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="fetchedUser._id" [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'Quotes' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-quotes [search]="{userId: fetchedUser._id, typeQuote: 'quote'}"></app-quotes>
    </mat-expansion-panel>
  </mat-accordion>
</div>
