


      <button mat-raised-button color="accent" (click)="addCateg('categProduct', 0, 0, 0, 0)">{{'Add Categ Products' | translate}}</button>
      <div *ngFor="let categorie0 of fetchedCompanie.categories.categProduct; let i = index;">
        
        <mat-form-field>
          <input matInput placeholder="Category" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categProduct[i].categ">
            <mat-icon matSuffix (click)="removeCateg('categProduct', 1,i,0,0)">mode_edit</mat-icon>
            <mat-icon matSuffix (click)="addCateg('categProduct', 1,i,0,0)">mode_edit</mat-icon>
        </mat-form-field>
        

       
        
        <div *ngFor="let categorie1 of categorie0.subCateg; let j = index;">
        <mat-form-field>
          <input matInput placeholder="SubCategory" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categProduct[i].subCateg[j].categ">
        </mat-form-field>
                
          <button type="button" class="false" class="false" (click)="removeCateg('categProduct', 2,i,j,0)">X</button>
          <button type="button" class="valid" (click)="addCateg('categProduct', 2,i,j,0)">+</button>
          
          
          <div *ngFor="let categorie2 of categorie1.subCateg; let k = index;">
            <mat-form-field>
          <input matInput placeholder="Product Type" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categProduct[i].subCateg[j].subCateg[k].categ">
        </mat-form-field>
            
            <button type="button" class="false" (click)="removeCateg('categProduct', 3,i,j,k)">x</button>
          </div>
        </div>
      </div>




   
