<button mat-raised-button color="accent" (click)="addCateg('categProduct', 0, 0, 0, 0)">{{'Add Categ Products' | translate}}</button>


<div *ngFor="let categorie0 of fetchedCompanie.categories.categProduct; let i = index;">

  <mat-form-field class="categprod">
    <input matInput placeholder="Category" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categProduct[i].categ">
    <mat-icon color="warn" class="pointer" matSuffix (click)="removeCateg('categProduct', 1,i,0,0)">backspace</mat-icon>
    <mat-icon color="accent" class="pointer" matSuffix (click)="addCateg('categProduct', 1,i,0,0)">queue</mat-icon>
  </mat-form-field>




  <div *ngFor="let categorie1 of categorie0.subCateg; let j = index;">
    <mat-form-field class="subcategprod">
      <input matInput placeholder="SubCategory" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categProduct[i].subCateg[j].categ">
      <mat-icon color="warn" class="pointer" matSuffix (click)="removeCateg('categProduct', 2,i,j,0)">backspace</mat-icon>
      <mat-icon color="accent" class="pointer" matSuffix (click)="addCateg('categProduct', 2,i,j,0)">queue</mat-icon>
    </mat-form-field>




    <div *ngFor="let categorie2 of categorie1.subCateg; let k = index;">
      <mat-form-field class="typecategprod">
        <input matInput placeholder="Product Type" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categProduct[i].subCateg[j].subCateg[k].categ">
        <mat-icon color="warn" class="pointer" matSuffix (click)="removeCateg('categProduct', 3,i,j,k)">backspace</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>
<app-loginInApp *ngIf="showLoginInApp" (loginInAppDone)="showLoginInApp = false"></app-loginInApp>
