<div class="container">
  <div class="d-flex flex-row">
    <div class="p-2">
      <h4 *ngIf="search.isExternalUser">
        {{'Customers' | translate}}
        <app-newObjDialog [search]="search" (saved)="saved($event)" [typeObj]="'user'"></app-newObjDialog>
      </h4>
      <h4 *ngIf="!search.isExternalUser">
          {{'Team' | translate}}
          <app-newObjDialog [search]="search" (saved)="saved($event)" [typeObj]="'user'"></app-newObjDialog>
        </h4>
    </div>

  </div>
  <div class="d-flex flex-row">
    <div class="p-2">

      <mat-form-field>
        <input matInput type="text" autocomplete="off" name="Search" placeholder="{{'Search' | translate}}" [(ngModel)]="search.search" (ngModelChange)="searchUsers()">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <!-- <th class="centre tdunder">Type</th> -->
            <!-- <th class="centre tdunder">Titre
              <app-sort (orderBy)="orderBy($event)" [search]="search" [filedToOrder]="'profile.title'"></app-sort>
            </th> -->
            <th class="centre tdunder">
              {{'Firstname' | translate}}
              <app-sort (orderBy)="orderBy($event)" [search]="search" [filedToOrder]="'profile.name'"></app-sort>
            </th>
            <th class="centre tdunder">
              {{'Name' | translate}}
              <app-sort (orderBy)="orderBy($event)" [search]="search" [filedToOrder]="'profile.lastName'"></app-sort>
            </th>
            <!-- <th class="centre tdunder">
              Société
            </th> -->
            <th class="centre tdunder hideMobile">
              {{'City' | translate}}

            </th>
            <th class="centre tdunder hideMobile">
              {{'Phone' | translate}}
              <app-sort (orderBy)="orderBy($event)" [search]="search" [filedToOrder]="'profile.phoneNumber'"></app-sort>
            </th>
            <!-- <th class="centre tdunder">Date
              <app-sort (orderBy)="orderBy($event)" [search]="search" [filedToOrder]="'createdAt'"></app-sort>
            </th> -->
          </tr>
        </thead>
        <tbody class="clienttbl">
          <tr *ngFor="let user of fetchedUsers" [routerLink]="['/user/' + user._id]" routerLinkActive="active">
            <!-- <td class="centre tdunder">
              {{user.profile.typeClient}}
              <div *ngFor="let singleType of user.typeUsers">
                {{singleType}}
              </div>
            </td> -->
            <!-- <td class="centre tdunder">{{user.profile.title}}</td> -->
            <td class="centre tdunder">{{user.profile.name}}</td>
            <td class="centre tdunder">{{user.profile.lastName}}</td>


            <!-- <td class="centre tdunder">
              <div *ngFor="let companie of user.ownerCompanies">
                {{companie.nameCompanie}}
              </div>
            </td> -->
            <td class="centre tdunder hideMobile">
              <div *ngFor="let singleAddress of user.profile.address; let i=index;">
                <div *ngIf="i<1">
                  {{singleAddress.city}}
                </div>
              </div>

            </td>
            <td class="centre tdunder hideMobile">{{user.profile.phoneNumber}}</td>
            <!-- <td class="centre tdunder">{{user.createdAt | date:'dd-MM-yyyy' }}</td> -->
          </tr>
        </tbody>
      </table>
      <div>
        <mat-paginator *ngIf="paginationData.totalItems>paginationData.itemsPerPage" [length]="paginationData.totalItems" [pageSize]="paginationData.itemsPerPage" (page)="getPage($event.pageIndex*1+1)">
        </mat-paginator>

      </div>
    </div>
  </div>
</div>
