<div class="container">
  <div *ngIf="showTitle">
    <app-header-title [showBack]=-1 [title]="'Products'" (saved)="saved($event)" [search]="search" [typeObj]="'product'"></app-header-title>
  </div>
  <!-- <div *ngIf="showTitle" class="d-flex flex-row">
    <div class="p-2">
      <h4>
        {{'Products' | translate}}
        <app-new-obj-dialog *ngIf="showNewItem" [search]="search" (saved)="saved($event)" [typeObj]="'product'"></app-new-obj-dialog>
      </h4>
    </div>
  </div> -->
  <div class="d-flex flex-row">
    <div class="p-2">
      <mat-form-field>
        <input matInput type="text" autocomplete="off" name="Search" placeholder="{{'Search' | translate}}" [(ngModel)]="search.search" (ngModelChange)="searchProducts()">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="centre tdunder">{{'Name' | translate}}
              <app-sort (orderBy)="orderBy($event)" [search]="search" [filedToOrder]="'details.referenceName'"></app-sort>
            </th>
            <th class="centre tdunder hideMobile">{{'Description' | translate}}
              <app-sort (orderBy)="orderBy($event)" [search]="search" [filedToOrder]="'details.description'"></app-sort>
            </th>
            <th class="centre tdunder">{{'Price' | translate}}
              <app-sort (orderBy)="orderBy($event)" [search]="search" [filedToOrder]="'details.price.sellingPrice'"></app-sort>
            </th>
            <th class="centre tdunder hideMobile">{{'Unit' | translate}}
              <app-sort (orderBy)="orderBy($event)" [search]="search" [filedToOrder]="'details.unit'"></app-sort>
            </th>
            <th *ngIf="customButton">
            </th>
          </tr>
        </thead>
        <tbody class="clienttbl">
          <tr *ngFor="let product of fetchedProducts" (click)="actionRow(product._id)">
            <!--    <td class="centre tdunder">
              <div *ngFor="let singleForm of product.forms; let i = index;">
                <img *ngIf="i<=0" height="50px" class="img" src="./uploads/forms/{{singleForm.owner}}/{{singleForm.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
              </div>
            </td>  -->
            <td class="centre tdunder">{{product.details.referenceName}}</td>
            <td class="centre tdunder hideMobile">{{product.details.description}}</td>
            <td class="centre tdunder">{{product.details.price.sellingPrice | round | currency}}</td>
            <td class="centre tdunder hideMobile">{{product.details.unit}}</td>
            <td *ngIf="customButton" class="centre tdunder">

              <button mat-icon-button color="primary" (click)="customButtonAction(product)">
                  <mat-icon aria-label="Select">add_to_queue</mat-icon>
                </button>

            </td>

          </tr>
        </tbody>
      </table>
      <div>
        <mat-paginator *ngIf="paginationData.totalItems>paginationData.itemsPerPage" [length]="paginationData.totalItems" [pageSize]="paginationData.itemsPerPage" (page)="getPage($event.pageIndex*1+1)">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
