<div class="row justify-content-center">

  <div class="col-md-4 col-xs-12">


    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="login-form" novalidate>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>
            <h3 class="tac">Mirabelle.io</h3>
            <p class="tac">{{'Your quotes at you clients place' | translate}}</p>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <!-- <div class="row spaceBetween">
          <img (click)="changeLang('fr')" class="pointer imgTranslate" src="./assets/images/translate/icon_fr.png">
          <img (click)="changeLang('en')" class="pointer imgTranslate" src="./assets/images/translate/icon_us.png">
        </div> -->

        <img mat-card-image src="/assets/images/logo-mirabelle-400.png" alt="Bienvenue sur Mirabelle">
        <mat-card-content>


          <mat-form-field>
            <input matInput #userEmail formControlName="email" placeholder="Email">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" formControlName="password" placeholder="{{'Password' | translate}}">
            <mat-error *ngIf="!password.valid && !password.pristine">
              {{'Your password must have at least 6 characters' | translate}}
            </mat-error>
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
          <div class="login ac">
            <button type="submit" mat-raised-button color="primary">Login</button>
            <p class="messagelogin"><a [routerLink]="'/user/reset'">{{'Forgotten password?' | translate}}</a></p>
            <p class="messagelogin"><a [routerLink]="['/user/register', {lang: langParam}]">
              {{'Register' | translate}}
            </a></p>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>

  </div>
</div>
