/*ALAN: DO NOT DELETE*/

/*ALAN: Signature*/

.minw500 {
width: 500px;
}

.tac {
  text-align: center;
}

.maxw400 {
  max-width: 400px;
}

.mat-tab-label {
  min-width: 30px!important;
}


.areusure {
  padding-top: 15px;
}


.pointer {cursor: pointer; }

.spaceBetween {
  justify-content: space-between!important;
}


.categprod { padding-top: 10px; }
.subcategprod { padding-left: 20px; }

.typecategprod { padding-left: 40px; }

.canvas_whiteboard_buttons {
  display: none!important;
}

/*ALAN: Ligne sous les inputs Angular*/
.mat-form-field {
  width: 100%;
}
/*ALAN: Only for Desktop*/
@media screen and (max-width: 992px) {
  .hideMobile {
    display: none;
  }
}
/*ALAN: Only for Mobile*/
@media screen and (min-width: 993px) {
  .showMobile {
    display: none;
  }
}
/*ALAN: Hide Paginator: page x of Y*/
.mat-paginator-page-size {
  display: none!important;
}

.noOutline {
  outline: none;
}

.bigIcon {
  font-size: 70px!important;
  height: 70px!important;
  width: 70px!important;
}


mat-icon {
  outline: none!important;
}
button {
  outline: none!important;
}


/*Green Notifif at top*/
/*#toast-container>div {
  width: 25px;
}
.toast-message{
  display:none;
}
.toast-title{
  display:none;
}*/
/*Green Notifif at top*/
/*ALAN*/







/*.mat-expansion-panel-body {
  overflow: visible!important;
}*/

.width100perc {
  width: 100%;
}

.pad5 {
  padding-right: 1px!important;
  padding-left: 1px!important;
}

.imghome {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 150px;
  vertical-align: middle;
}

.marginTop {
  margin-top: 30px;
}


.bgw {
  background-color: #fff;
}

.h50 {
  height: 50%!imporant;
}

.messagelogin>a {
  color: rgba(0, 0, 0, .87)!important;
  font-size: 12px;
}

.pagelogin {
  margin-top: 0px;
  height: 100%;
}

.login {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.mat-paginator {
  min-height: 0px!important;
}

.mb25 {
  margin-bottom: 25px;
}

.pr0 {
  padding-right: 0px;
}

.pl0 {
  padding-left: 0px;
}

.validadress {
  color: #4CAF50;
}

.boad {
  background-color: #ddd;
}

.mb8 {
  margin-bottom: 8px;
}

.mb2br0 {
  border-radius: 0px;
  margin-bottom: 2px;
}

.btnadr {
  background: none;
  border: none;
  padding-top: 0px;
}

.alright {
  text-align: right;
}

.nopad {
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.sign {
  width: 250px;
  height: 200px;
}

.false {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
  margin-right: 5px;
}

.false:hover {
  background-color: #f44336;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.valid {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  margin-right: 5px;
}

.valid:hover {
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/*
input::placeholder {
  color: silver!important;
  font-style: italic;
}

textarea::placeholder {
  color: silver!important;
  font-style: italic;
}*/

/*.container-fluid {

  margin-bottom: 60px;
}*/

.ac {
  text-align: center;
}

/*.hdform {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ff4351;
  text-align: center;
}*/

.fa10 {
  margin-right: 10px;
}

.fal {
  margin-left: 10px;
}

.card {
  margin: 0px!important;
  border-radius: 0px!important;
}

.noborder {
  border: none;
}

.ml {
  margin-left: 10px;
}

/*.page {
  height: 100%;
}*/

app-root {
  /*display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;*/
  /*display: flex;*/
  position: absolute;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
}

.page1 {
  font-size: 0.90rem;
  /*height: 95%;*/
  margin: 0;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;

  /*height: 100%;*/
  /*height: 100rem;*/
}

.htmlClass {
  height: 95%;
}

.bg-goo {
  background: #ff4351;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #ff4351, #ffcb3d);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ff4351, #ffcb3d);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ff4351, #ffcb3d);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ff4351, #ffcb3d);
  /* Standard syntax */
}

/*CALENDAR HEADER*/
@media screen and (max-width: 768px) {
  .fc-day-header, .fc-widget-header, .fc-mon, .fc-past, .fc {
    font-size: 10px;
  }
}

/*CALENDAR HEADER*/


/*
.icomarg {
  margin-right: 20px;
  color: #ffffff;
}

.a {
  color: #464a4c;
}

.btn-outline-primary {
  margin-top: 20px;
}

.btn {
  margin-bottom: 8px;
  border-radius: 0px!important;
}

.form-control {
  margin-bottom: 8px;
  border-radius: 0px!important;
}*/

.container {
   padding-bottom: 15px;


 }

/*.box {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
}*/

@media screen and (min-width: 1025px) {
  html {
    overflow: hidden;
  }
}
html {
  height: 100%;
  background-color: #fafafa;
}
body {
  height: 100%;
  /*background-color: #fff;*/
  background-color: #fafafa;
  margin: 0;
}



H1, H2, H3, H4, H5 {}

a {
  font-family: sans-serif;
}

.h100{
  height: 100%;
}

.row-2 {
  margin: 20px;
}

.bg-inverse {
  border-radius: 5px;
}

/*#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}*/

.nav-link:hover {
  color: #ffffff !important;
  background-color: rgba(204, 204, 204, 1);
}

.nav-link {
  padding-left: 10px !important;
  color: #464a4c !important;
}

.navbar {
  padding: 0px !important;
}

.active {
  color: #ffffff !important;
  background-color: #ff4351;
}

.active2 {
  color: #d0505c !important;
}

/*.header {
  text-align: center;
  background-color: #b5b5b5;
  background-repeat: repeat;
  background-size: auto;
  background-position: left;
  padding-bottom: 10px;
  padding-top: 0px;
  margin-top: 0px;
  width: auto;
}*/

.card-header {
  color: #fff;
  text-align: center;
  background-color: #512d44;
}

.btn {
  text-align: center;
  font-family: sans-serif;
}

.card-block {
  text-align: center;
}

.card {
  margin: 10px;
}

.title {
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  border-radius: 5px;
  justify-content: center;
}

.tdbtn1 {
  text-align: left;
  width: 80%;
}

.tdbtn2 {
  text-align: right;
  width: 20%;
}

.tdbtn3 {
  text-align: left;
  width: 15%;
}

.tdbtn4 {
  text-align: left;
  width: 55%;
}

.tdbtn5 {
  text-align: left;
  width: 15%;
}

.tdbtn6 {
  text-align: right;
  width: 15%;
}

.tdbtn7 {
  text-align: right;
  width: 10%;
}

.table-responsive {
  display: table;
}

table {
  width: 100%;
}

.clienttbl {
  line-height: 2.5;
}

.table td {
  padding: 0rem;
  vertical-align: bottom;
  border-top: 0px;
}

.tdunder {
  border-bottom: 1px;
  border-bottom-color: #ddd;
  border-bottom-style: solid;
}

.ferme {
  border-radius: 8px;
}

.whtxt {
  color: #fff;
  padding-bottom: 10px;
}

.spcright {
  margin-right: 5px;
}

.logo-img {
  height: 50px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

Mixin itself @mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

Usage as a mixin .element {
  @include clearfix;
}

.table td.centre {
  text-align: center;
}

.table th.centre {
  text-align: center;
}

.margebasse {
  margin-bottom: 5px;
}

.table th {
  border-top: none!important;
}

.table-hover {
  background-color: #fff;
}

.table-hover-cells>body>tr>td:hover {
  background-color: #000;
}

/*.table-hover2 tbody tr:hover td, .table-hover2 tbody tr:hover th {
   background-color: #512d44;
 }*/

/*Dialog*/

.mat-dialog-container {
  max-height: 85vh;
}

.mat-dialog-container {
  padding: 0px!important;
}

@media screen and (min-width: 1025px) {
  .mat-dialog-container {
    min-width: 900px!important;
  }
  /*.cdk-overlay-pane {
     min-width: 1000px;
   }*/
}

/*Dialog*/

.arrowNotifNewDialog {
  position: absolute;
  top: 50px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.positionNotifArrow {
  right: 230px;
}

.positionNewObjArrow {
  right: 180px;
}

/*alan*/

.has-error {
  border: 1px solid rgba(255, 49, 76, 1);
}

.mat-expansion-panel {
  box-sizing: inherit!important;
}

/*alan*/
