// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';*/
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
/*@import "~@angular/material/prebuilt-themes/purple-green.css";*/
/*@import "fullcalendar/dist/fullcalendar.min.css";*/


/*@import "~angular-calendar/dist/css/angular-calendar.css";*/


/*@import "~@ng-bootstrap/ng-bootstrap/dist/css/bootstrap.min.css";*/





@import '~@angular/material/theming';
@include mat-core();
$candy-app-primary: mat-palette($mat-green, A700);
$candy-app-accent:  mat-palette($mat-green);
$candy-app-warn:    mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);
