<form [formGroup]="myForm" novalidate>
  <div class="row">
    <div class="col">
      <h5>{{'Details' | translate}}</h5>
      <mat-form-field>
        <input matInput type="text" formControlName="nameCompanie" [(ngModel)]="fetchedCompanie.nameCompanie" required minlength="5" placeholder="{{'Company name' | translate}}">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="email" [(ngModel)]="fetchedCompanie.email" placeholder="{{'Email' | translate}}">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="phoneNumber" [(ngModel)]="fetchedCompanie.phoneNumber" placeholder="{{'Phone number' | translate}}">
      </mat-form-field>
      <!-- <mat-form-field>
        <input matInput type="text" formControlName="faxNumber" [(ngModel)]="fetchedCompanie.faxNumber" placeholder="Numéro de Fax">
      </mat-form-field> -->

    </div>
    <div class="col">

      <app-address [addresses]="fetchedCompanie.address"></app-address>

      <!-- <button type="button" class="btn btn-primary btn-sm" (click)="newAddress()">{{'New Address' | translate}}</button> -->
    </div>
    <div class="col">
      <h5>{{'Divers' | translate}}</h5>
      <!-- <div>
        <input type="checkBox" formControlName="isSupplier" [(ngModel)]="fetchedCompanie.isSupplier"> {{'Companie' | translate}}
      </div> -->
      <mat-form-field>
        <input matInput type="text" formControlName="VAT" [(ngModel)]="fetchedCompanie.VAT" required minlength="5" placeholder="Numéro de TVA">
      </mat-form-field>
    </div>
  </div>
  <!-- <div class="valid-edit row col-12">
    <button type="submit" class="valid">
          {{'Save' | translate}}
        </button>
    <button *ngIf="fetchedCompanie._id && !isMyCompanie()" type="button" class="false" (click)="onDelete(fetchedCompanie._id)">
          {{'Delete' | translate}}
      </button>
  </div> -->
</form>
