<mat-card-content>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'Terms' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="!stripeCust.id">
        <mat-checkbox [(ngModel)]="approveTnC">{{'I approve the' | translate}} <a target="_blank" href="http://mirabelle.io/conditions-generales-dutilisation">{{'T&C' | translate}}</a></mat-checkbox>

        {{approveTnC.value|json}}
        <button *ngIf="approveTnC" mat-raised-button color="primary" color="primary" (click)="saveCustInStripe()">{{'Welcome!' | translate}}</button>
      </div>
      <button *ngIf="stripeCust.id" mat-raised-button color="warn" (click)="deleteCustInStripe()">{{'I want to unscribe' | translate}}</button>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="stripeCust.id" [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'Plan' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      
      <div class="row ac">
        <mat-card class="plancss">
  <mat-card-header>
    <div>
    <h2>Offre Artisan</h2>
    </div>
    <div>
    <h5>Utilisateur unique</h5>
    </div>
  </mat-card-header>
  
  <mat-card-content>
    <h1>9 €</h1><h5> par mois</h5>
   
    
      <div>Gestion des contacts</div>
      <div>Devis</div>
      <div>Catalogue produit</div>
      <div>Signature électronique</div>
      <div>Prise de photos</div>
      <div>Factures</div>
      <div>Paiement en ligne</div>
      <div>Planning</div>
   
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Souscrire</button>
    
  </mat-card-actions>
</mat-card>
      
            <mat-card class="plancss">
  <mat-card-header>
    <div mat-card-avatar class=""></div>
    <mat-card-title><h2>Offre Équipe</h2></mat-card-title>
    <mat-card-subtitle>Jusqu'à 5 Utilisateurs</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <h1>15 €</h1><h5> par mois</h5>
   
    <p>
      Gestion des contacts
      Devis
      Catalogue produit
      Signature électronique
      Prise de photos
      Factures
      Paiement en ligne
      Planning
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Souscrire</button>
    
  </mat-card-actions>
</mat-card>

      </div>
      
      <mat-button-toggle-group disabled="{{stripeCust.subscriptions.data.length !== 0}}" [(ngModel)]="plan" (change)="changePlan()">
        <mat-button-toggle value="silver">
          Silver
          <mat-icon>format_align_left</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="gold">
          Gold
          <mat-icon>format_align_center</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="platinium">
          Platinium
          <mat-icon>format_align_right</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-expansion-panel>


    <mat-expansion-panel *ngIf="stripeCust.id && plan" [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'Card' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="step === 2">
        <div *ngIf="!stripeCust.sources.data.length">
          <app-paiement-card [newCard]="newCard"></app-paiement-card>
        </div>


        <div *ngFor="let card of stripeCust.sources.data; let i=index;">
          <mat-form-field>
            <input matInput readonly value="{{card.id}}" placeholder="cardId">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly value="{{card.address_city}}" placeholder="address_city">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly value="{{card.address_country}}" placeholder="address_country">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly value="{{card.address_line1}}" placeholder="address_line1">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly value="{{card.address_line2}}" placeholder="address_line2">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly value="{{card.address_state}}" placeholder="address_state">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly value="{{card.address_zip}}" placeholder="address_zip">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly value="{{card.brand}}" placeholder="brand">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly value="{{card.country}}" placeholder="country">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly value="{{card.exp_month}}" placeholder="exp_month">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly value="{{card.exp_year}}" placeholder="exp_year">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly value="{{card.funding}}" placeholder="funding">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly value="{{card.last4}}" placeholder="last4">
          </mat-form-field>

          <button mat-button color="warn" (click)="deleteCardInStripe(card.id)">delete Card</button>
        </div>
      </div>
      <mat-action-row>
        <!-- <button mat-button color="warn" (click)="prevStep()">Previous</button> -->
        <button *ngIf="!stripeCust.sources.data.length" mat-raised-button color="primary" (click)="saveCardInStripe()">{{'Save Card' | translate}}</button>
        <button *ngIf="stripeCust.sources.data.length" mat-button color="primary" (click)="nextStep()">{{'Next' | translate}}</button>
      </mat-action-row>
    </mat-expansion-panel>


    <mat-expansion-panel *ngIf="stripeCust.id && stripeCust.sources.data.length && plan" [expanded]="step === 3" (opened)="setStep(3)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'Subscription' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <div *ngIf="!stripeCust.subscriptions.data.length">
          I confirm to suscribe to the:
          <button mat-raised-button color="primary" (click)="saveSubscriptionInStripe()">{{plan}} {{' Plan!' | translate}}</button>
        </div>
        <div *ngFor="let sub of stripeCust.subscriptions.data">
          <!-- <mat-icon color="primary">accessibility</mat-icon> -->
          <mat-form-field>
            <input matInput readonly value="{{sub.plan.id}}" placeholder="Plan">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly value="{{sub.plan.amount / 100 + ' ' + sub.plan.currency + ' / ' + sub.plan.interval}} " placeholder="Amount">
          </mat-form-field>
          <!-- <mat-form-field>
              <input matInput readonly value="{{sub.plan.created | timestampToDate | date: 'dd/MM/yyyy HH:mm'}}" placeholder="Created">
            </mat-form-field> -->
          <mat-form-field>
            <input matInput readonly value="{{sub.plan.interval_count}}" placeholder="interval_count">
          </mat-form-field>

          <!-- <mat-form-field>
              <input matInput readonly value="{{sub.id}}" placeholder="id">
            </mat-form-field>
            <mat-form-field>
              <input matInput readonly value="{{sub.created | timestampToDate | date: 'dd/MM/yyyy HH:mm'}}" placeholder="created">
            </mat-form-field> -->
          <mat-form-field>
            <input matInput readonly value="{{sub.current_period_start | timestampToDate | date: 'dd/MM/yyyy HH:mm'}}" placeholder="current_period_start">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly value="{{sub.current_period_end | timestampToDate | date: 'dd/MM/yyyy HH:mm'}}" placeholder="current_period_end">
          </mat-form-field>
          <button mat-button color="warn" (click)="deleteSubInStripe(sub.id)">deleteSubInStripe</button>
        </div>
      </div>
      <!-- <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row> -->
    </mat-expansion-panel>


    <mat-expansion-panel *ngIf="showReLoginInApp" [expanded]="step === 4" (opened)="setStep(4)">
      <mat-expansion-panel-header>
        {{'Password Confirmation'}}
      </mat-expansion-panel-header>
      {{'Confirm your password:' | translate}}
      <app-loginInApp (loginInAppDone)="loginInAppDone()"></app-loginInApp>
    </mat-expansion-panel>

  </mat-accordion>
  <app-loadingInApp [loading]="loading"></app-loadingInApp>
